@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;

}

html, body{
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    margin:0;
    padding:0;
}

#home, #contact ,#news{
    position:relative;
    height:100vh;
}

ul{
    margin-left:-20px;
  
}

.navbar .nav-item .nav-link{
    color:#fff;
    height:100%;
  
}
.navbar .nav-item.active {
  
    border-bottom:1px solid #fff;
}

.custom-shape-divider-bottom-home {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-image:linear-gradient(to left, #0712e0 , #01c8f9);
}

.custom-shape-divider-bottom-home svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 40px;
  
    background-image:transparent;
}

.custom-shape-divider-bottom-home .shape-fill {
    fill: #FFF;
}

#hrow{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    color:#fff;
    width:100%;
}
.btn{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#himg-main{
    border-radius:87% 52% 17% 17% / 50% 18% 18% 19% ;
    display:block;
    margin-top:190px;
    height:450px;
}
#more-ser-btn{
    float:right;
}
#aimg-main{
    display:block;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:160px;
    
}

.card{
    border:none;

}
#main-img-shapes{
    position:absolute;
    display:block;
    width:100%;    
    opacity:0.2;

}
#abt-img-main, #ser-img-main, #team-img-main, #cta-clients{
    position:absolute;
    display:block;
    width:100%;    
}
#services .card{
    border-radius:5px;
    border-bottom-left-radius: 30px;
}
.custom-shape-divider-top-1620912354 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-image: linear-gradient(to right, #0712e0 ,#01c8f9);
    height:80vh;
}

.custom-shape-divider-top-1620912354 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 62px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1620912354 .shape-fill {
    fill: #FFFFFF;
}

#nimg-main{
    display:block;
    position:absolute;
    top:-140px;
    height:450px;
    border-radius:80px;
    border-top-left-radius:200px;
}

input{
    width:80%;
    border:1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height:38px;
    outline:none;
    padding-left:5px;
}

@keyframes animateModal{

    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);

       
      

    }

}


@keyframes animateModout{

    from{
        transform:rotate(0) scale(1);
    }
    to{
       
        /* position:absolute; */
        background-color:yellow;
        /* transform:rotate(45deg) translate(0, 200%); */
     

    }

}
